:root {
  --polka-bg-image:
    radial-gradient(#dfe0d7 10.6%, transparent 5.6%);
  --polka-bg-position: 0px 0px, 40px 40px;
  --polka-bg-size: 40px 40px;
  --polka-bg-color: #D7D3C8;
}
body{
    margin: 0;
    margin-top: 80px;
    padding: 0;
    font-family: "Times New Roman", system-ui;
    overflow-x: hidden;
    color: #4D483C;
    background-image: var(--polka-bg-image);
    background-position: var(--polka-bg-position);
    background-size: var(--polka-bg-size);
    background-color: var(--polka-bg-color);    
}

main{
    margin: 6% 0;
}

a {
    text-decoration: none;
    color: #4D483C;
}

h1 {
    font-family: "Aboreto", system-ui;
    font-weight: 100;
    font-style: normal;
}
h2 {
    font-family: "Playfair Display", system-ui;
    font-weight: 100;
    font-style: normal;
}
button {
    background: #CEC5B5; 
    border: 0;
    height: 50px;
    cursor:pointer;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

button:hover, .submitB:hover {
    cursor: pointer;
    background-color: #4B634E;
    color: #CEC5B5;
    box-shadow: 0px 4px 5px rgba(77, 72, 60, .4) ;
}
@keyframes slideInDown {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


                                                                  /* Nav bar */

nav {
    height: 80px;
    width: 100%;
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    grid-template-columns:1fr 1fr 1fr;
    align-items: center;
    padding: 0;
    z-index: 10;
    background-color: #f9faf0;
    border-bottom: 2px solid #4B634E;
}
.leftAlign {
    justify-self: start;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
}

.center {
    justify-self: center;
}

.rightAlign {
    justify-self: end;
    width: 150px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
}
nav > ul{
    margin:0 5% 0 5%;
    padding:0;
    list-style-type: none;
}

nav li{
    padding: 10px ;
    margin-top: auto;
    margin-bottom: auto;
    flex-shrink: 0;
    height:fit-content;
}

.dropdownContent {
    display: none;
    background-color: #F8F9F0;
}

.dropdownContent a{
    margin: 10px;
    padding: 5px;
}

.dropdownContent a:hover, nav a:hover{
    border-bottom: #4B634E 1px solid;
}


.dropdown:hover .dropdownContent {
    display: block;
    position: absolute;
    padding: 10px;
    border-radius: 2px;
    animation: fadeIn .1s ease-out;
}
.productPageNav {
    background-color: #CEC5B5;
}
.productPageNav .dropdownContent{
    background-color: #CEC5B5;
}
.productNav {
    background-color: #F8F9F0;
}
.mobile {
    display: none;
}

#hamburger {
    height: 100%;
    width: 80%;
    background-color: #F8F9F0;
    position:fixed;
    top: 0;
    right: 0;
    box-shadow: 10px 0 100px #4D483C;
}

.sideBar {
    list-style-type: none;
    margin-top: 20%;
    padding-left: 0px;
    font-weight: 400;
    font-size: 20px;
}
.sideBar li{
    padding-left: 10%;
}


                                                                  /* Footer */
footer {
    color: #4B634E;
    background-color: #D7D3C8;
    padding: 3% 5% 0;
    padding: 10%;
}
.footerLogo, .footerBottom{
    margin: 2% auto;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: row;
}
.footerBottom{
    margin-bottom: 0;
}
footer input {
    margin: .5%;
    border: #4B634E 2px solid;
    padding: 10px 4%;
    border-radius: 5px;
    color: #4B634E;
}

.footerInfo {
    display: flex;
    justify-content: center;
    gap: 155px;
    width: 100%;
}
.footer1{
    justify-content: center;
    text-align: center;
    width: 220px;
    order: 2;
}
.footer2, .footer2 ul {
    display: flex;
    width: 220px;
    height: 218px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    list-style-type: none;
}
.footer2 { order: 1; }
.footer3 {
    text-align: justify;
    align-items: flex-end;
    width: 220px;
    order: 3;
}
@media (max-width: 1000px) {
    .footerInfo{
        display: flex;
        gap: 0;
        flex-direction: column ;
        align-items: center;
        width: 100%;
    }
    .footer1 { 
        order: 1; 
        width: 100%;
    }
    .footer2 { 
        order: 2; 
        width: 100%;
    }
    .footer3 { 
        order: 3;
        width: 100%; 
    }
}
                                                                  /* Hero */



.hero{
    width: 100%;
    height: 50%;
}

.hero img{
    margin: 0 20% 0 20%;
    display: flex;
    justify-content: center;
    position: relative;
    max-height: 1024px;
    max-width: 60%;
    height: auto;
    width: 70%;
    object-fit: cover;
    z-index: 0;
}
.overlay {
    text-align: center;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 1;
}
.banner{
    background-color: #f9faf0;
    padding: 1%;
    box-shadow: black 5px;
}

.banner h1{
    font-size: 100px;
    text-align: center;
    margin: 0;
}
.overlay button{
    margin-top: 2%;
    display: inline-flex;
    justify-content: center; 
    align-items: center;
    padding: 1.5% 3%;    
    background-color: #4B634E;
    color: #D7D3C8;
    border: #4D483C 2px solid;
}
@media (max-width: 1130px) {
    .hero {
        height: 735px;
        margin: 0;
    }
    .hero img{
        height: 100%;
        max-width: 100%;
        width: 100%;
        margin: 0;
    }
    .banner h1{
        font-size: 60px;
    }
}

                                                                  /* Product List Card */
#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 5%;
}

.suggest {
    width: 90%;
    margin: auto;
    margin-top: 1%;
    padding: 1% 5% 5% 5% ;
    background-color: #F8F9F0;
}

.productCard{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    width: 267px;
    height: 369px;
    margin: 1.2% 0.5%;
}
.productCard img{
    width: 267px;
    height: 306px;
    object-fit: cover;
}
.productText {
    z-index: 1;
    background-color: #F8F9F0;
    padding: 4%;
    padding-bottom: 0;
    height: 64px;
    color: #4B634E;
    font-size: 18px;
}
.productText p, .productText span{
    margin: 0 2% 0 2%;
    display: flex;
    float: left;
}
.productText h4 {
    margin: 1%;
    font-weight: 400;
}
.saleBadge {
    background-color: #4B634E;
    color: #D7D3C8;
    padding: 0 7%;
    margin-left: 2%;
    border-radius: 25px;
}
.offSale {
    background-color: #4D483C;
    color: #D7D3C8;
    padding: 0 7%;
    border-radius: 25px;
}
@media (max-width: 1130px) {
    .productCard{
        flex-direction: row;
        width: 190px;
        height: 262px;
        margin-bottom: 19%;
        
    }
    .productText{
        font-size: 16px;
    }
    .productCard img {
        width: 190px;
        max-height: 262px;
    }
    #products {
        padding-top: 10%;
        padding-bottom: 15%;
    }
}



                                                                  /* Headers */
.wrapper {
    width: 100%;
    height: auto;
    background-color: #4B634E;
    font-size: 60px;
    color: #F8F9F0;
    text-align: center;
}
.wrapper h1{
    padding: 10% 0;
    margin: 0;
}

.wrapper img {
    margin: 0;
    object-fit: cover;
    width: 100%;
    height: 750px;
}

.titleHeading {
    background-color: #D7D3C8;
    margin: 0;
    padding: 1% 0;
    text-align: center;
    border-bottom: black 1px solid;
}
.titleHeading h1{
    margin: 0;
}
.Filter {
    background-color: #F8F9F0;
    display: flex;
    justify-content: space-between;
    padding: 1.5%;
}
.Filter p{
    margin: 0 5%;  
}
.stickyTitle {
    position: sticky;
    z-index: 3;
    top: 80px;
}
                                                                  /* Section */
.productPage{
    background-color: #4D483C;
    --polka-bg-image:
    radial-gradient(#9C9993  10.6%, transparent 5.6%)
}
.productPage .wrapper img {
    height: 500px;
}
.whiteBG {
    background-color: #f9faf0;
    --polka-bg-image:
    radial-gradient(#D7D3C8  10.6%, transparent 5.6%);
    margin-top: 0;
    margin-bottom: 0;
}
#Collections {
    text-align: center;
    padding: 3% 0 100px 0;
}
                                                                  /* Section cards */
.productType {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.productSection {
    margin: 2% 0.5%;
    width: 334px;
    height: 373px;
}
.productSection img{
    width: 100%;
}
.productSection h2{
    width: 92%;
    background-color: #D7D3C8;
    position: relative;
    transform: translateY(-100%);
    padding: 4%;
    margin: 0;
    text-align: right;
}
.productType img {
    max-height: 415.167px;
    width: 100%;
}
.style {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin: 0 15%;
}
.style .productSection {
    max-height: 10%;
    width: 190px;
    margin: 3% 0.5%;
    height: 217px;
}
.style .productSection img{
    width: 100%;
    max-height: 241.133px;
}
.style .productSection h2{
    background-color: #4B634E;
    color: #D7D3C8;
    font-size: 100%;
}

.style img{
    width: 100%;
}

.imageB {
    display: none;
}
.imageA {
    display: block;
}
.productCard:hover, .productSection:hover {
    .imageA {
        display: none;
    }
    .imageB {
        display:block;
        box-shadow: 0px 4px 5px rgba(77, 72, 60, .4) ;
    }
}

@media (max-width: 1130px) {
    #allProducts {
        margin: 0;
        padding:0;
        flex-direction: row;
        width: 100%;
    }
    .productType .productSection {
        width: 190px;
        height: auto;
        max-height: 236.167px;
        margin-top: 0;
    }
    .productType .productSection img{
        width: 190px;
        height: auto;
        max-height: 236.167px;
    }
    .productType h2{
        font-size: 16px;
    }
}
                                                                  /* product page */
.productInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2% 4% 15% 4%;
    color: #515F59;
}
.productListing {
    background-color: #F8F9F0;
    --polka-bg-image:transparent;
}
.productListing .wrapper {
    height: 756px;
}
.productInfo h2 {
    margin: 0;
    font-size: 64px;
}
.productInfo .productPrice {
    margin: 0 0 5% 0;
    font-family: "helvetica";
    font-weight: bold;
    font-size: 32px;
}
.productDetails{
    margin: 2%;
}
.productDetails h4{
    margin: 1% 0 0 0;
    font-size: 24px;
    font-weight: normal;
}
.tableHeadings th{
    text-align:left;
    padding-bottom: 2%;
    font-size: 24px
}
.tableHeadings button{
    background: unset; 
    border: 0;
    text-align:left;
    padding-bottom: 1%;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: #4B634E;
}
.tableData th, .tableData td{
 width: 50%;   
}
.productDetails table {
    width: 100%;
}



.quantity {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    text-align: center;
    width: 50%;
    border: #4B634E 2px solid;
    border-radius: 5px;
}

.quantity button{
    background: unset; 
    border: 0;
    padding: 2%;
    color: #4B634E;
    cursor:pointer;
    box-shadow: none;
}
.addToCart button{
    margin-top: 6%;
    border: 0;
    width: 200%;
    height: 50px;
    cursor:pointer;
}

.tableButtons input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.tableButtons label{
    
    position: relative;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}

.tableButtons label input:checked ~ .checkmark {
  background-color: #515F59;
  color: #D7D3C8;
}
.size span {
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: unset;
    color: #515F59;
    border: #515F59 solid 2px;
    border-radius: 5px;
}
.size p{
    transform: translateY(-10px);
}
.colourSelect span{
    display: flex;
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: #4D483C solid 2px;
    margin-right: 20px;
    margin-bottom: 10%;
}
.colourSelect p{
    margin:auto;
}

.tableButtons label input:checked ~ #selectBeige {
  background-color: #F0D2C8;
}
.tableButtons label input:checked ~ #selectGrey {
  background-color: #CCCACA;
}

.productDetails summary{
    width: 100%;
    font-size: 20px;
    font-family: "Aboreto", system-ui;
    font-weight: 100;
    font-style: normal;
    padding: 3% 0;
    border-top: #4D483C solid 2px;
    cursor:pointer;
}
.productDetails summary::marker {
    content: "";
}


.productDetails details p{
    margin-left: 2%;
    margin-top: -2%;
}

#popup {
    padding: 0 45px;
    z-index: 5;
    position: fixed;
    top: 80px;
    right: 6%;
    justify-content: center;
    align-items: center;
    text-align: center; 
    background-color: rgba(215, 211, 200, 1);
    border: #4D483C 2px solid;
    border-radius: 5px;
}
#popup img {
    width: 200px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
    border: #4D483C 2px solid;
}
#popup button {
    margin-top: 10%;
    width: 100%;
    border: #4D483C 2px solid;
}
.badge {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

@media (max-width: 1130px) {
    .productPage .wrapper, .productPage .wrapper img {
    max-height: 200px;
    }
    .productInfo {
        display: flex;
        flex-direction: column;
        margin-bottom: 10%;
    }
    .productDetails {
        margin-bottom: 15%;
    }
    .productDetails h2{
        font-size: 36px;
    }
    .productDetails h4{
        font-size: 12px;
    }
    .productPrice span, .tableHeadings th {
        font-size: 20px;
    }
    .productListing .wrapper img, .productListing .wrapper {
        height: 50%;
    }

    .tableData span{
        width: 30%;
        height: 50px;
    }
}
                                                                  /* cart page */

#cart {
    display: flex;
    padding: 2%;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.cartCard {
    text-align: center;
    width: 200px;
    margin: 1%;
    height: 650px;
    background: rgba(248, 249, 240, 0.50);
    border: 2px solid #515F59;
    padding: 10px 40px;
    border-radius: 5px;
}

.cartCard img {
    min-height: 200px;
    max-height: 200px;
    object-fit:cover;
}
.cartCard .quantity  {
    margin: auto;
    justify-content: center;
    align-items: center;
}

.remove button {
    background-color: transparent;
    margin: 10px;
    border: none;
    box-shadow: none;
}

.toPurchase {
    background: #F8F9F0;
    margin: auto;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px;
}
.toPurchase h1 {
    font-size: 60px;
}
.toPurchase h2 {
    margin: 0;
    font-size: 40px;
    color: #515F59;
}
.toPurchase button {
    width: 40%;
    height: 90px;
    border-radius: 5px;
    background-color: transparent;
    margin-top: 25px;
    color: #4D483C;
    text-align: center;
    font-size: 24px;
    border: 2px solid #4B634E;
}
.toPurchase .toCheckout {
    border-width: 0;
    background-color: #CEC5B5;
}


                                                                  /* order summary */
.orderSummaryPopup {
    background-color:#f9faf0;
    width: 30%;
    height: auto;
    position: fixed;
    bottom: 0px;
    right: 0;
    display: flex;
    padding: 30px 20px;
    box-sizing: border-box;
    border: #515F59 1px solid;
    border-top-left-radius: 5px;
}
.orderSummaryPopup summary{
    width: 100%;
    font-size: 30px;
    border-bottom: 1px solid; color: #515F59;
}

.orderSummaryPopup details {
    width: 100%;
}

.orderSummaryPopup :open {
    animation: slideInDown .1s ease-out;
}
#orderSummary {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
    width: 90%;
    
}

.rightText {
    text-align: right;
    width: 100px;
}
.total {
    color: #515F59;
    font-family: "Times New Roman";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    margin-top: 1%;
}


                                                                  /* Checkout */
.checkoutSummary {
    height: 100%;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    margin: 10% 50px 10% 20%;
    max-width: 40%;
    display: flex;
    flex-direction: column;
}
form h2{
    margin-bottom: 0%;
}
form ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    
}
form input {
    margin: .5%;
    border: none;
    padding: 1%;
    border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}


.row1 input{
    width: 90%
}
.row2 input{
    width: 43.5%;
}
.row3 input{
    width: 28%
}

.submitB {
    margin-top: 5%;
    width: 92%;
    background-color:#4D483C;
    color: #CEC5B5;
    height: 50px;
    cursor:pointer;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}


.square {
    height: 130px;
    width: 130px;
    background-color: #F8F9F0;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin: auto;
    margin-bottom: 5%;
    display: flex;
    justify-content: center; 
    align-items: center;     
}
#purchaseComplete  {
    width: 100%;
    height: 100%;
    z-index: 10;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: var(--polka-bg-image);
    background-position: var(--polka-bg-position);
    background-size: var(--polka-bg-size);
    background-color: rgba(206, 197, 181, 1);
}

.innerpopup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.innerpopup button {
    width: 100%;
    border-radius: 5px;
    border: 2px solid #4B634E;
    color: #4B634E;
    background: #F8F9F0;
    margin-top: 10%;
}
.checkoutSummary2{
    display: flex;
}
@media (max-width: 1200px) {
    .toPurchase button{
        width: 80%;
    }
    #cart {
        padding: 50px;
    }
    .orderSummaryPopup {
        width: 100%;
    }
    .toPurchase h1 {
        font-size: 40px;
    }
    .toPurchase h2, .toPurchase button{
        font-size: 20px;
        height: 60px;
    }
    form {
        max-width: 80%;
        padding-bottom: 40%;
    }

}
@media (max-width: 750px) {
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
}
.hidden {
    display: none;
}

.visible {
    display: block;
    animation: fadeIn 1s ease-in;
}