body{
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", system-ui;
}

h1 {
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-style: normal;
}

/* Nav bar */

nav {
    height: 8%;
    width: 100%;
    flex: content;
    display: grid;
    position: fixed;
    grid-template-columns:1fr 1fr 1fr;
    align-items: center;
    padding: 0;
    z-index: 10;
    background-color: #F8F9F0;
}

nav > ul{
    display: flex;
    margin:0;
    padding:0;
    height: 100%;
    width: auto;
    list-style-type: none;
}

nav li{
    margin-top: auto;
    margin-bottom: auto;
    padding: 5px;
    height:fit-content;
}

.dropdownContent {
    display: none;
}

.dropdownContent a{
    margin: 5px;
    padding: 5px;
}

.dropdown:hover .dropdownContent, .dropdown:focus .dropdownContent {
    display: inline;
    transition: 0.5s;
    background-color: rgb(232, 96, 96);
    margin: 20px;
    overflow: visible;
    position: absolute;
}

.leftAlign {
    justify-self: start;
}

.center {
    justify-self: center;
}

.rightAlign {
    justify-self: end;
    width: 150px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
}
/* Hero */

.hero{
    background-color: aqua;
}
.hero img{
    margin: auto;
    display: flex;
    justify-content: center;
}
.heroImg{   
    height: 912px;
}
.banner {
    margin: auto;
    text-align: center;
}